.content {
  padding: 20px;
  box-sizing: border-box;
}
.first-link {
  margin-left: 20px;
}
.active {
  border: white 1px solid;
}

.is_disabled {
  cursor: default;
  text-decoration: none;
  border: none;
}

.is_active {
  font-weight: bold !important;
}
