<mat-toolbar color="primary">
  <span>Routing Guards</span>
  <a 
    mat-button 
    class="first-link" 
    [routerLinkActiveOptions]="{ exact: true}" 
    routerLink="/home"
    routerLinkActive='is_active'
  >Home</a>

  <a 
    mat-button 
    routerLinkActive="active" 
    [routerLink]="(authService.isAdminAndLogged$() | async) ? '/admin' : null"
    [routerLinkActive]="(authService.isAdminAndLogged$() | async) ? 'is_active' : 'is_disabled'"
    [disabled]="!(authService.isAdminAndLogged$() | async)"
    style="border: none;"
  >Admin</a>

  <!-- In angular 13+ merge  -->
  <a 
    mat-button 
    routerLinkActive="active" 
    [routerLinkActiveOptions]="{ exact: true}" 
    [routerLink]="(authService.isManagerAndLogged$() | async) ? '/management' : null"
    [routerLinkActive]="(authService.isManagerAndLogged$() | async) ? 'is_active' : 'is_disabled'"
    [disabled]="!(authService.isManagerAndLogged$() | async)"
  >Management</a>

  <div style="
    margin-left: auto; 
    display: flex; 
    flex-direction: row; 
    align-items: center;

    font-size: 13px;
    column-gap: 10px;
  ">
    <!-- <p>rol$: {{authService.rol$ | async}}</p> -->

    <mat-form-field>
      <mat-select 
        [formControl]="roleForm" 
        placeholder="Roles" 
        multiple
        (selectionChange)="setRole()"
      >
        <mat-option *ngFor="let role of roles" [value]="role">
          {{role}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    
    <button
      mat-button 
      (click)="authService.isLoggedIn = !authService.isLoggedIn"
    >
      {{(authService.isLoggedIn$ | async) ? 'Logout' : 'Login'}}
    </button>
  </div>
</mat-toolbar>

<main class="content">
  <router-outlet></router-outlet>
</main>